* {
    font-size: 1.02em; /* Ems */
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color : whitesmoke;
    background-color: #4a4e69;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
}

#output {
    width: 100%;
    height: calc(100vh - 100px);
    flex-direction: column;
    overflow: auto; 
    /*font-size: 1.2em;*/ 
}

#data {
    padding: 5px;
}

#config {
    position: fixed;
    bottom: 0;
    right:0;
    color : whitesmoke;
    margin-right:10px;
}

textarea:focus {
    border: none;
    box-shadow: none;
    outline: 1px solid yellow;
}

textarea {
    width: 100%;
    padding: 10px;
    color : whitesmoke;
    background-color: #2e3440;
    border: none;
    box-shadow: none;
}

#fixed-area {
    position: fixed;
    width: 100%;
}

#reconnecte {
    display: none;
    color: #808b8a;
    padding-left:35%;
}

#examples {
    color: #88c0d0;
    padding-left:5%;
}
